.all{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
}
.allTop{
    display: flex;flex-direction: column;
    width: 100%;;
}
.comment_title_all{
    display: flex;
}
.comment_title{
    display: flex; margin-left: 20px;
    margin-top: 20px;
}
.comment_title .title,.comment_title .num{
    margin-right:10px;
}
.comment_title .title{
    font-size: 20px;
    font-weight: bold;
}
.comment_title .num{
    font-size: 15px;
    color: #999;
    font-weight: bold;
}
.comment_tab{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.comment_tab div:not(.icon){
    display: flex;
    /* margin-left: 20px; */
    cursor: pointer;
}
.comment_tab div{
    margin: 0 5px;
}
.comment_tab div:hover{
    color:rgb(129, 129, 240);
}
.comment_tab .tab_title:nth-child(1)::after{
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background-color: #999;
    margin-left: 10px;
    margin-top: 4px;
}

.comment_tab div.active{
    color:rgb(129, 129, 240)
}
.publish_content{
    display: flex;
    padding:0px 30px;
}
.publish_content img{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.publish_content input{
    width: 400px;
    height: 30px;
    background: #ddd;
}
.publish_content button{
    width: 60px;
    height: 30px;
    background: #409eff;
    border: none;
    color: #FFF;
    margin-left:20px;  
}   
/* .publish_content .publish_content_right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.publish_content .publish_content_right .publish_content_right_top{
    display: flex;
} */
.comment_list_all{
    padding: 20px 30px;
}
.comment_list{
    display: flex;
    margin-top: 20px;
    
}
.comment_list .comment_list_left{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin:20px;
}

.comment_list .comment_list_left img{
    width: 100%;
    height: 100%;
}
.comment_list .comment_list_right .username{
    color:#666;
}
.comment_list .comment_list_right .comment_content{
    margin:10px 0;
    color:#333;
    font-size: 16px;
}
.comment_list .comment_list_right{
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #d9d0d0;
   flex:1;
   }
.comment_list .comment_list_right .comment_Info{
    display: flex;
    margin:10px 0;
    color:#666;
    font-size: 12px;
}
.comment_list .comment_list_right .comment_Info .delectBtn{
    cursor: pointer;
}
.comment_list .comment_list_right .comment_Info .delectBtn:hover{
   color:#333;
}
.comment_list .comment_list_right .comment_Info div{
    margin-right:10px;
    
}